<main id="homeOptions">
    <div id="optionsHeader">
        <a href="/"> <i class="fas fa-chevron-left"></i> Back</a>
        <h2><%= title %></h2>
    </div>

    <section id="optionsContainer">
        <!-- Loop through each item  -->
<!-- 
        <a href="/movie/batman">
            <div class="gridItem">
                <img src="/images/Spider-Man.jpeg" alt="">
    
                <div class="content">
                    <h3>Spider-Man No Way Home</h3>
                    <span>December 17, 2021</span>
                    <p>Action/Adventure/ Sci-Fi</p>
                </div>
            </div>
        </a> -->

        <% data.forEach(element => { %>
            <a href="/movie/<%= element.id %>">
                <div class="gridItem">
                    <img src="https://image.tmdb.org/t/p/w500<%= element.poster_path %>" alt="">
        
                    <div class="content">
                        <h3><%= element.title %></h3>
                        <span><%= element.release_date %></span>
                        <p>Rating: <%= element.vote_average%></p>
                    </div>
                </div>
            </a>
        <% }); %>



        
    </section>
</main>

<% element.forEach(item => { %>
    
<% }); %> 



<!-- //searched data -->
<% searchedData.forEach(element => { %>
    <section id="completedSearch">
        <div class="searchItem">

            <a href="/movie/<%= element.id %>" class="group1">
                <img  src="https://image.tmdb.org/t/p/w500<%= element.poster_path %>" alt="">
                
                <div>
                    <h3><%= element.original_title %></h3>
                    <p><%= element.release_date%></p>
                </div>
            </a>
        </div>
    </section>
<% }); %>