<%- include ('partials/header.ejs')  -%> 

<main id="accountPage">

    <section class="container">
        <h1><%= data.fullName %></h1>
        <p><%= data.email %></p>
        <!-- <a href="">Edit Profile</a> -->
    </section>

    <section class="container">
        <p>Average Movie Rating 
            <br> 
            <span class="stats"><%= data.avgRating %> %</span>
        </p>
        <div>
            <p>Movies watched
                <br>
                <span class="stats">
                    <%= data.amountWatched%>
                </span> 
            </p>
        </div>
    </section>

    <section class="container">
        <a href="/logout">
            <button class="logout">
                <span>Sign Out</span>
            </button>
        </a>
        
        
        <form action="/account" method="Post">
            <% if(data.email === process.env.ADMIN_USER) { %>

            <% } else { %> 
                <button class="deleteBtn" type="submit">Delete Account</button>
            <% } %>
        </form>
    </section>
    <p class="copyright">Created by Joshua Duke 2021</p>
    <div id="logo">
        <img class="tmdblogo" src="/images/tmdbLogo.svg" alt="">
    </div>
    

</main>
<%- include ('partials/footer.ejs')  -%> 