<%- include ('partials/header.ejs')  -%> 

<main id="accountPage">

    <section class="container">
        <h1><%= data.fullname %></h1>
        <p><%= data.username %></p>
        <a href="">Edit Profile</a>
    </section>

    <section class="container">
        <p>Average Movie Rating 
            <br> 
            <span>69%</span>
        </p>
        <div class="stats">
            <p>Movies watched: <%= data.moviesWatched.length%></p>
            <p>See all stats >></p>
        </div>
    </section>
    <section class="container">
        Themes
    </section>
    <section class="container">
        <a href="/logout">Sign Out</a>
        <form action="/account" method="Post">
            <button class="deleteBtn">Delete Account Information</button>
        </form>
    </section>
    <p class="copyright">Created by Joshua Duke 2021</p>
</main>
<%- include ('partials/footer.ejs')  -%> 