<%- include ('partials/header.ejs')  -%> 

<nav class="reviewNav">
    <a onclick="history.back()"> 
        <i class="fas fa-chevron-left"></i> Back
    </a>
</nav>

<main id="reviewPage">
    <div id="reviewPageContainer">
        <form action="/addNew/<%= data.id%>" method="post">
            <div>
                <p>What do you think of:</p>
                <% console.log(data) %> 

                <h1><%= data.title == undefined ? data.movieTitle : data.title %></h1>
                
            </div>

            <div class="rating">
                <label for="">How would you rate this movie:</label>
                <div class="star-outer">
                    <div class="star-inner"></div>
                </div>
                <p><input id="userRating" name="userRating" type="number"  value="<%= data.userRating ? data.userRating : 0 %>" min="0" max="10" step="0.1" required>/10</p>
            </div>

            <div id="reviewContainer">
                <h3>Review:</h3>
                <textarea name="userReview" cols="30" rows="10" placeholder="Hello" ><%= data.userReview ? data.userReview.trim() : '' %></textarea>
            </div>

            <div class="recommendation ">
                <div class="box">
                    <p>Would recommend?</p>
                    <div class="switchField">

                        <% if (data.recommended == true) { %>
                            <input type="radio" name="recommend" value="true" id="recommend-Yes" checked required>
                            <label for="recommend-Yes">Yes</label>   

                            <input type="radio" name="recommend" value="false" id="recommend-No" required> 
                            <label for="recommend-No">No</label>
                        <% } else if(data.recommended == false) { %> 

                            <input type="radio" name="recommend" value="true" id="recommend-Yes"  required>
                            <label for="recommend-Yes">Yes</label>   

                            <input type="radio" name="recommend" value="false" id="recommend-No" checked required> 
                            <label for="recommend-No">No</label>

                        <% }  else { %>
                            <input type="radio" name="recommend" value="true" id="recommend-Yes" required>
                            <label for="recommend-Yes">Yes</label>   

                            <input type="radio" name="recommend" value="false" id="recommend-No" required> 
                            <label for="recommend-No">No</label>
                        <% } %>
 
                    </div>
                </div>
                <div class="box">
                    <p for="rewatch">Would Rewatch</p>
                    <div class="switchField">

                        <% if (data.rewatch == true) { %>
                            <input type="radio" name="rewatch" value="true" id="rewatch-Yes" checked required>
                            <label for="rewatch-Yes">Yes</label>
    
                            <input type="radio" name="rewatch" value="false" id="rewatch-No" required>
                            <label for="rewatch-No">No</label>

                        <% } else if (data.rewatch == false) { %>
                            <input type="radio" name="rewatch" value="true" id="rewatch-Yes" required>
                            <label for="rewatch-Yes">Yes</label>
    
                            <input type="radio" name="rewatch" value="false" id="rewatch-No" checked required>
                            <label for="rewatch-No">No</label>

                        <% } else { %>
                            <input type="radio" name="rewatch" value="true" id="rewatch-Yes" required>
                            <label for="rewatch-Yes">Yes</label>
    
                            <input type="radio" name="rewatch" value="false" id="rewatch-No" required>
                            <label for="rewatch-No">No</label>
                        <% } %>

        
                    </div>
                </div>
            </div>
            <div id="completeReview">
                <div>
                    <p>Date Watched</p>
                    <% if (data.userWatchedDate) { %>
                        <input type="date" name="dateWatched" id="dateWatched" value="<%= data.userWatchedDate%>" required>
                    <% } else { %>
                        <input type="date" name="dateWatched" id="dateWatched"  required>
                    <% } %>
                    
                </div>
                
                <% if (data.userWatchedDate) { %>
                    <button type="submit">Update</button>
                <% } else { %>
                    <button type="submit">Add</button>
                <% }%>

            </div>
        </form>
    </div>
</main>

<%- include ('partials/footer.ejs')  -%> 

