<%- include ('partials/header.ejs')  -%> 

<!-- <main id="homeContainer">

    <%- include ('partials/homeCarousel')  -%> 
    <%- include ('partials/homeCarousel')  -%> 


</main> -->

<main id="homeContainer">

    <div class="sectionContainer">

        <div class="titleContainer">
          <h2>Coming Soon</h2>
          <a href="/comingSoon">See all</a>
        </div>
        <%- include ('partials/homeCarousel')  -%> 
    </div>

    <div class="sectionContainer">

        <div class="titleContainer">
          <h2>Coming Soon x2</h2>
          <a href="/comingSoon">See all</a>
        </div>

        <div class="glide carouselContainer" >
            <div class="glide__track" data-glide-el="track">
                
            <ul class="glide__slides">
                <% data.forEach(element => { %>
                    <a href="">
                        <li class="glide__slide">
                            <img src="<%= element.image %> " alt="">
                        </li>
                    </a>
                <% }); %>
            </ul>
            </div>
        </div>

    </div>


    <!-- <div class="sectionContainer">

        <div class="titleContainer">
          <h2>In Theatres Soon</h2>
          <a href="">See all</a>
        </div>
        <%- include ('partials/homeCarousel')  -%> 
    </div>

    <div class="sectionContainer">

        <div class="titleContainer">
          <h2>Movies Watched</h2>
          <a href="">See all</a>
        </div>
        <%- include ('partials/homeCarousel')  -%> 
    </div>

    <div class="sectionContainer">

        <div class="titleContainer">
          <h2>Watchlist</h2>
          <a href="">See all</a>
        </div>
        <%- include ('partials/homeCarousel')  -%> 
    </div>
    -->
    


</main>




<%- include ('partials/footer.ejs')  -%> 