<%- include ('partials/header.ejs')  -%> 

<main id="homeContainer">

    <!-- <div class="sectionContainer">

        <div class="titleContainer">
          <h2>Coming Soon</h2>
          <a href="/home/comingSoon">See all</a>
        </div>
        <%#- include ('partials/homeCarousel')  -%> 
    </div>

    <div class="sectionContainer">

        <div class="titleContainer">
          <h2>Coming Soon</h2>
          <a href="/home/comingSoon">See all</a>
        </div>
        <%#- include ('partials/homeCarousel')  -%> 
    </div> -->

    <div class="sectionContainer">

        <div class="titleContainer">
          <h2>Coming Soon </h2>
          <a href="/home/comingSoon">See all</a>
        </div>

        <div class="glide carouselContainer" >
            <div class="glide__track" data-glide-el="track">
                
            <ul class="glide__slides">

                <% comingSoon.forEach(element => { %>
                    <a href="/movie/<%= element.id %>">
                        <li class="glide__slide">
                            <img src="https://image.tmdb.org/t/p/w500<%= element.poster_path %> " alt="">
                        </li>
                    </a>
                <% }); %>

            </ul>
            </div>
        </div>

    </div>

    <div class="sectionContainer">

        <div class="titleContainer">
          <h2>In Theatres</h2>
          <a href="/home/inTheatres">See all</a>
        </div>

        <div class="glide carouselContainer" >
            <div class="glide__track" data-glide-el="track">
                
            <ul class="glide__slides">

                <% theatres.forEach(element => { %>
                    <a href="/movie/<%= element.id %>">
                        <li class="glide__slide">
                            <img src="https://image.tmdb.org/t/p/w500<%= element.poster_path %> " alt="">
                        </li>
                    </a>
                <% }); %>

            </ul>
            </div>
        </div>

    </div>

    <div class="sectionContainer">

        <div class="titleContainer">
          <h2>Watchlist</h2>
          <a href="/watchlist">See all</a>
        </div>

        <div class="glide carouselContainer" >
            <div class="glide__track" data-glide-el="track">
                
            <ul class="glide__slides">

                <%# data.forEach(element => { %>
                    <!-- <a href="">
                        <li class="glide__slide">
                            <img src="<%# = element.image %> " alt="">
                        </li>
                    </a> -->
                <%# }); %>

            </ul>
            </div>
        </div>

    </div>

    <div class="sectionContainer">

        <div class="titleContainer">
          <h2>Watched</h2>
          <a href="/watched">See all</a>
        </div>

        <div class="glide carouselContainer" >
            <div class="glide__track" data-glide-el="track">
                
            <ul class="glide__slides">

                <%# data.forEach(element => { %>
                    <!-- <a href="">
                        <li class="glide__slide">
                            <img src="<%# = element.image %> " alt="">
                        </li>
                    </a> -->
                <%# }); %>

            </ul>
            </div>
        </div>

    </div>
</main>




<%- include ('partials/footer.ejs')  -%> 