<%- include ('partials/header.ejs')  -%> 

<!-- <main id="homeContainer">

    <%- include ('partials/homeCarousel')  -%> 
    <%- include ('partials/homeCarousel')  -%> 


</main> -->

<main id="homeContainer">


   
    <%- include ('partials/homeCarousel')  -%> 

    <%- include ('partials/homeCarousel')  -%> 

    <%- include ('partials/homeCarousel')  -%> 
    
    <%- include ('partials/homeCarousel')  -%> 

</main>




<%- include ('partials/footer.ejs')  -%> 