<%- include ('partials/header.ejs')  -%> 

<main id="homeOptions">
    <div id="optionsHeader">
        <a href="/"> <i class="fas fa-chevron-left"></i> Back</a>
        <h2><%= title %></h2>
    </div>

    <section id="optionsContainer">

        <% data.forEach(element => { %>
            <% element.forEach(item => { %>

                <a href="/movie/<%= item.id %>">
                    <div class="gridItem">
                        <img src="https://image.tmdb.org/t/p/w500<%= item.poster_path %>" alt="">
                
                        <div class="content">
                            <h3><%= item.title.substring(0, 20)%></h3>
                            <p>Rating: <%= item.vote_average%></p>
                            <span><%= new Date(item.release_date).toDateString() %></span>
                        </div>
                    </div>
                </a>

            <% }); %>  
        <% }); %>
    </section>
</main>


<%- include ('partials/footer.ejs')  -%> 