<%- include ('partials/header.ejs')  -%> 

<!-- <main id="homeContainer">

    <%- include ('partials/homeCarousel')  -%> 
    <%- include ('partials/homeCarousel')  -%> 


</main> -->

<main id="homeContainer">

    <div class="sectionContainer">

        <div class="titleContainer">
          <h2>Coming Soon</h2>
          <a href="">See all</a>
        </div>
        <%- include ('partials/homeCarousel')  -%> 
    </div>

    <div class="sectionContainer">

        <div class="titleContainer">
          <h2>In Theatres Soon</h2>
          <a href="">See all</a>
        </div>
        <%- include ('partials/homeCarousel')  -%> 
    </div>

    <div class="sectionContainer">

        <div class="titleContainer">
          <h2>Movies Watched</h2>
          <a href="">See all</a>
        </div>
        <%- include ('partials/homeCarousel')  -%> 
    </div>

    <div class="sectionContainer">

        <div class="titleContainer">
          <h2>Watchlist</h2>
          <a href="">See all</a>
        </div>
        <%- include ('partials/homeCarousel')  -%> 
    </div>
   
    


</main>




<%- include ('partials/footer.ejs')  -%> 