<%- include ('partials/header.ejs')  -%> 

<main id="homeOptions">
    <div id="optionsHeader">
        <a href="/"> <i class="fas fa-chevron-left"></i> Back</a>
        <h2><%= title %></h2>
    </div>

    <section id="optionsContainer">
        <!-- Loop through each item  -->
<!-- 
        <a href="/movie/batman">
            <div class="gridItem">
                <img src="/images/Spider-Man.jpeg" alt="">
    
                <div class="content">
                    <h3>Spider-Man No Way Home</h3>
                    <span>December 17, 2021</span>
                    <p>Action/Adventure/ Sci-Fi</p>
                </div>
            </div>
        </a> -->

        <% data.forEach(element => { %>
            <a href="/movie/<%= element.id %>">
                <div class="gridItem">
                    <img src="<%= element.image %>" alt="">
        
                    <div class="content">
                        <h3><%= element.title %></h3>
                        <span><%= element.releaseState %></span>
                        <p><%= element.genres%></p>
                    </div>
                </div>
            </a>
        <% }); %>



        
    </section>
</main>


<%- include ('partials/footer.ejs')  -%> 