<%- include ('partials/header.ejs')  -%> 


<main id="searchPage">
    <div id="searchContainer">
        <form action="/search" method="post">
            <i class="fas fa-search" ></i>
            <input type="search" name="movieTitle" id="searchMovie" placeholder="Search for a movie" value="<%=inputvalue%>">

        </form>
    </div>
<!-- 
    <section id="completedSearch">
        <div class="searchItem">

            <a href="" class="group1">
                <img  src="/images/Spider-Man.jpeg" alt="">
                
                <div>
                    <h3>Title</h3>
                    <p>2021</p>
                    <p>Genre</p>

                    <p>Director</p>
                </div>
            </a>
        </div>
    </section> -->

    <% if (data == false) { %>
        <section id="searchOptionsContainer">
    
            <a href="/search/topMovies" class="gridItem">
                <div >
                    <img src="/images/DarkKnight.jpg" alt="">
        
                    <div class="content">
                        <h3>Top Movies</h3>
                    </div>
                </div>
            </a>
    
            <a href="/search/allTimeBo" class="gridItem">
                <div>
                    <img src="/images/avatar.jpg" alt="">
        
                    <div class="content">
                        <h3>All time Box Office</h3>
                    </div>
                </div>
            </a>
    
            <a href="/search/mostPopular" class="gridItem">
                <div >
                    <img src="/images/Spider-Man.jpeg" alt="">
        
                    <div class="content">
                        <h3>Most Popular</h3>
                    </div>
                </div>
            </a>
    
            <a href="/search/topBoxOffice" class="gridItem">
                <div>
                    <img src="/images/Spider-Man.jpeg" alt="">
        
                    <div class="content">
                        <h3>Top Box Office</h3>
                    </div>
                </div>
            </a>
            
        </section>
    <% } else { %>
        <section id="completedSearchContainer">
            <% searchedData.results.forEach(element => { %>
                <div class="completedSearch">
                    <div class="searchItem">
            
                        <a href="/movie/<%= element.id %>" class="group1">
                            <img  src="https://image.tmdb.org/t/p/w500<%= element.poster_path %>" alt="">
                            
                            <div>
                                <h3><%= element.original_title %></h3>
                                <p><%= element.release_date%></p>
                            </div>
                        </a>
                    </div>
                </div>
            <% }); %>
        </section>
    <% } %> 
    



</main>

<script>
    let searchContainer = document.getElementById('completedSearchContainer');
    let searchOptionsContainer = document.getElementById('searchOptionsContainer')
    let searchMovieInput = document.getElementById("searchMovie");
    let searchIcon = document.querySelector('.fa-search');

    
    let searchForm = document.querySelector('form');

    searchMovieInput.addEventListener("search", function(event) {
        while (searchContainer.firstChild) {
            if(searchMovieInput.value == ''){
                searchContainer.removeChild(searchContainer.firstChild);
                document.location.href = `/search/${searchMovieInput.value}`;
            }
            searchForm.submit();
            break;
        }
    });

    searchIcon.addEventListener('click', ()=>{
        searchForm.submit();
    })
</script>

<%- include ('partials/footer.ejs')  -%> 