<%- include ('partials/header.ejs')  -%> 

<main id="homeOptions">
    <div id="optionsHeader">
        <a href="/search"> <i class="fas fa-chevron-left"></i> Back</a>
        <h2><%= option %></h2>
    </div>

    <section id="completedSearchContainer">
        <% data.items.forEach(element => { %>
            <div class="completedSearch">
                <div class="searchItem">
        
                    <a href="/movie/<%= element.id %>" class="group1">
                        <img src="<%= element.image%>" alt="">
                        
                        <div>
                            <h3><%= element.title %></h3>
                            <p><%= element.year %></p>
                            <p>
                                <% if(element.imDbRating){ %>
                                    <p>IMDB Rating: <%= element.imDbRating %></p>

                                <% }  else if(element.gross || element.worldwideLifetimeGross) { %>
                                    <p>
                                        Gross: <%= element.gross ? element.gross : element.worldwideLifetimeGross %>
                                    </p>
                                <% } %>  
                                
                            </p>
                            <p>Rank: <%= element.rank %></p>
                        </div>
                    </a>
                </div>
            </div>
        <% }); %>
    </section>

</main>

<%- include ('partials/footer.ejs')  -%> 