
<%- include ('partials/header') %>

<nav class="reviewNav">
    <a onclick="history.back()"> 
        <i class="fas fa-chevron-left"></i> Back
    </a>
</nav>

<main id="moviePage">
    <img id="movieBackground" src="<%= data.image %>" alt="">

    <section id="movieContainer">
        <div class="movieContent">

            <div class="header">
                <h1 class="title"><%= data.title %></h1>
                <div class="watchlist">
                    <form action="/movie/<%= data.id%>" method="post">
                        <input type="hidden" name="currentMovie" value="<%= data.id%>">
                        <% if (exists) { %>
                            <button type="submit"><i class="fas fa-bookmark fa-2x"></i></button>
                        <% } else { %>
                            <button type="submit"><i class="far fa-bookmark fa-2x"></i></button>
                        <% } %>
                        
                    </form>
                    <!-- <a href="/watchlist"></a> -->
                    <!-- <p>Watchlist</p> -->
                </div>
            </div>

            <p class="director"> <%= data.directors %></p>
            <p class="releaseDate"> Released: <%= data.year %></p>


            <div class="genre-watched">
                <p class="genre"> <%= data.genres %></p>
                <!-- EJS IF STATEMENT. iof not watched link to add watch page-->
                <!-- if watched then button background green , modal pop up  -->
                <!-- prompt if they really want to remove from watched -->
                <%# if(watched){ %>
                    <!-- <a href="/addNew/<%= data.id %>"><button style="background-color: green;" class="watched"> Watched</button></a>                 -->
                <%# } else { %>
                    <!-- <a href="/addNew/<%= data.id %>"><button class="watched"> Watched?</button></a>                 -->
                <%# } %> 
                <a href="/addNew/<%= data.id %>"><button class="watched"> Watched?</button></a>                
                    
            </div>

            <div class="movieRating">
                <div class="stars-outer">
                    <div class="stars-inner"></div>
                </div>
                <p><span id="imDbRating"><%= data.imDbRating %></span>/10 Rating</p>
            </div>
            

            <div id="descriptionContainer">
                <h2>Description</h2>
                <p class="description"> <%= data.plot %> </p>
            </div> 

            <div id="castContainer">
                <h2>Cast</h2>
                <div class="castGlide">
                    <div class="glide__track" data-glide-el="track">
                      <ul class="glide__slides">

                        <% data.actorList.forEach(element => { %>
                            <li class="glide__slide">
                                <p>
                                    <% if (element.name.length > 11) { %>
                                        <%= element.name.substring(0, 10) + '...'%>
                                    <% } else { %>
                                        <%= element.name    %>
                                    <% }%>
                                </p>
                                <img src="<%= element.image %> " alt="">
                            </li>
                        <% }); %>
                        





                    <!-- 
                        <li class="glide__slide">
                            Robert Pattinson
                        </li>
                        <li class="glide__slide">
                            Zoe Kravitz
                        </li>
                        <li class="glide__slide">
                            Andy Serkis
                        </li>
                        <li class="glide__slide">
                            The riddler guy
                        </li> -->
                      </ul>
                    </div>
                  </div>
            </div>

        </div>

    </section>
</main>

<%- include ('partials/footer.ejs')  -%> 

<script>
    let watchedBtn = document.querySelector('.watched');

    watchedBtn.addEventListener('click', ()=>{
        // alert('Clicked')
    })

     //initial ratings
     let userRatingNum = document.querySelector('#imDbRating').innerText;

    const ratings = {
        movieRating: userRatingNum,
    }

//total stars
const starsTotal = 10;

//run getRatings when DOM loads

document.addEventListener('DOMContentLoaded', getRatings);

//get rating
function getRatings(){
    console.log('ran'); 
    for(let rating in ratings){
        console.log(ratings[rating]);
        //get percentage
        const starPercentage = (ratings[rating] / starsTotal) * 100;
        console.log(starPercentage);

        //Round to nearest 10
        const starPercentageRounded = `${Math.round(starPercentage / 10) * 10 }%`

        console.log(starPercentageRounded);

        //set width of stars inner to percenetage
        document.querySelector(`.movieRating .stars-inner`).style.width = `${starPercentage}%`;
        console.log(document.querySelector(`.movieRating .stars-inner`));
    }
}
</script>