
<%- include ('partials/header') %>

<main id="moviePage">
    <img id="movieBackground" src="<%= data.image %>" alt="">

    <section id="movieContainer">
        <div class="movieContent">

            <div class="header">
                <h1 class="title"><%= data.title %></h1>
                <div class="watchlist">
                    <a href=""><i class="far fa-bookmark fa-2x"></i></a>
                    <!-- <p>Watchlist</p> -->
                </div>
            </div>


            <p class="releaseDate"> Released: <%= data.year %></p>
            <p class="director"> <%= data.directors %></p>

            <div class="genre-watched">
                <p class="genre"> <%= data.genres %></p>
                <button class="watched"> Watched?</button>
            </div>

            <div class="rating">
                <div class="stars">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <span><%= data.imDbRating %>/10 Rating</span>
            </div>

            <div id="descriptionContainer">
                <h2>Description</h2>
                <p class="description"> <%= data.plot %> </p>
            </div> 

            <div id="castContainer">
                <h2>Cast</h2>
                <div class="castGlide">
                    <div class="glide__track" data-glide-el="track">
                      <ul class="glide__slides">

                        <% data.actorList.forEach(element => { %>
                            <li class="glide__slide">
                                <img src="<%= element.image %> " alt="">
                                <p><%= element.name %></p>
                            </li>
                        <% }); %>
<!-- 
                        <li class="glide__slide">
                            Robert Pattinson
                        </li>
                        <li class="glide__slide">
                            Zoe Kravitz
                        </li>
                        <li class="glide__slide">
                            Andy Serkis
                        </li>
                        <li class="glide__slide">
                            The riddler guy
                        </li> -->
                      </ul>
                    </div>
                  </div>
            </div>

        </div>

    </section>
</main>

<%- include ('partials/footer.ejs')  -%> 