
<%- include ('partials/header') %>

<nav class="reviewNav">
    <a onclick="history.back()"> 
        <i class="fas fa-chevron-left"></i> Back
    </a>
</nav>

<main id="moviePage">
    <img id="movieBackground" src="<%= data.image %>" alt="Movie poster">

    <section id="movieContainer">
        <div class="movieContent">

            <div class="header">
                <h1 class="title"><%= data.title %></h1>
                <div class="watchlist">
                    <form action="/movie/<%= data.id%>" method="post">
                        <input type="hidden" name="currentMovie" value="<%= data.id%>">
                        <% if (exists) { %>
                            <button type="submit">
                                <i class="fas fa-bookmark fa-2x"></i><p>Watchlist</p>
                            </button>
                            
                        <% } else { %>
                            <button type="submit">
                                <i class="far fa-bookmark fa-2x"></i><p>Watchlist</p>
                            </button>
                            
                        <% } %>
                        
                    </form>
                </div>
            </div>

            <p class="director"> <%= data.directors %></p>
            <p class="releaseDate"> Released: <%= data.year %></p>


            <div class="genre-watched">
                <p class="genre"> <%= data.genres %></p>

                <a href="/addNew/<%= data.id %>"><button class="watched"> Watched</button></a>                
                    
            </div>

            <div class="movieRating">
                <div class="stars-outer">
                    <div class="stars-inner"></div>
                </div>
                <p><span id="imDbRating"><%= data.imDbRating %></span>/10 Rating</p>
            </div>
            

            <div id="descriptionContainer">
                <h2>Description</h2>
                <p class="description"> <%= data.plot %> </p>
            </div> 

            <div id="castContainer">
                <h2>Cast</h2>
                <div class="castGlide">
                    <div class="glide__track" data-glide-el="track">
                      <ul class="glide__slides">

                        <% data.actorList.forEach(element => { %>
                            <li class="glide__slide">
                                
                                <img src="<%= element.image %> " alt="Image of <%= element.name %>">
                                <p>
                                    <% if (element.name.length > 11) { %>
                                        <%= element.name.substring(0, 10) + '...'%>
                                    <% } else { %>
                                        <%= element.name    %>
                                    <% }%>
                                </p>
                            </li>
                        <% }); %>
                        
                      </ul>
                    </div>
                  </div>
            </div>

        </div>

    </section>
</main>

<%- include ('partials/footer.ejs')  -%> 

<script>
    let watchedBtn = document.querySelector('.watched');

     //initial ratings
     let userRatingNum = document.querySelector('#imDbRating').innerText;

    const ratings = {
        movieRating: userRatingNum,
    }

//total stars
const starsTotal = 10;

//run getRatings when DOM loads

document.addEventListener('DOMContentLoaded', getRatings);

//get rating
function getRatings(){
    console.log('ran'); 
    for(let rating in ratings){
        console.log(ratings[rating]);
        //get percentage
        const starPercentage = (ratings[rating] / starsTotal) * 100;
        console.log(starPercentage);

        //Round to nearest 10
        const starPercentageRounded = `${Math.round(starPercentage / 10) * 10 }%`

        console.log(starPercentageRounded);

        //set width of stars inner to percenetage
        document.querySelector(`.movieRating .stars-inner`).style.width = `${starPercentage}%`;
        console.log(document.querySelector(`.movieRating .stars-inner`));
    }
}
</script>