
<%- include ('partials/header') %>

<main id="moviePage">
    <!-- <img id="movieBackground" src="<%#= data.image %>" alt=""> -->
    <img id="movieBackground" src="<%= data.moviePoster %>" alt="">

    <section id="movieContainer">
        <div class="movieContent">

            <div class="header">
                <!-- <h1 class="title"><%#= data.title %></h1> -->
                <h1 class="title"><%= data.movieTitle %></h1>
                <div class="watchlist">
                    <form action="/watched/<%= data._id%>" method="post">
                        <input type="hidden" name="currentMovie" value="<%= data.imdbID%>">
                        <% if (exists) { %>
                            <button type="submit"><i class="fas fa-bookmark fa-2x"></i></button>
                        <% } else { %>
                            <button type="submit"><i class="far fa-bookmark fa-2x"></i></button>
                        <% } %>
                        
                    </form>
                </div>
            </div>


            <p class="releaseDate"> Watched On: <%= data.userWatchedDate %></p>

            <div class="genre-watched">
                <!-- <p class="genre"> <%#= data.genres %></p> -->
                <p class="genre"> <%= data.movieGenre %></p>
            </div>

            <div class="movieRating">
                <div class="stars-outer">
                    <div class="stars-inner">

                    </div>
                </div>
                <span class="number-rating"></span>

                <span><span class="userRatingNum"><%= data.userRating %> </span>  /10 Rating</span>
            </div>

            <div id="descriptionContainer">
                <h2>Review</h2>
                <!-- <p class="description"> <%#= data.plot %> </p> -->
                <p class="description">
                    <%= data.userReview %>
                </p>
            </div> 

            <div id="castContainer">
                <div>
                    <p>Recommed? <span><%= data.recommended ? 'Yes' : 'No' %></span></p>
                    <p>Rewatch? <span><%= data.rewatch ? 'Yes' : 'No' %></span></p>
                </div>
            </div>
            <div id="links">
                <a href="/movie/<%= data.imdbID %>">More Info ></a>
                <a href="">Edit ></a>
            </div>

        </div>

    </section>
</main>

<%- include ('partials/footer.ejs')  -%> 

<script>
    //initial ratings
    let userRatingNum = document.querySelector('.userRatingNum').innerText;

    const ratings = {
        movieRating: userRatingNum,
    }

    //total stars
    const starsTotal = 10;

    //run getRatings when DOM loads

    document.addEventListener('DOMContentLoaded', getRatings);

    //get rating
    function getRatings(){
        console.log('ran'); 
        for(let rating in ratings){
            console.log(ratings[rating]);
            //get percentage
            const starPercentage = (ratings[rating] / starsTotal) * 100;
            console.log(starPercentage);

            //Round to nearest 10
            const starPercentageRounded = `${Math.round(starPercentage / 10) * 10 }%`

            console.log(starPercentageRounded);

            //set width of stars inner to percenetage
            document.querySelector(`.${rating} .stars-inner`).style.width = `${starPercentage}%`;
            console.log(document.querySelector(`.movieRating .star-inner`));
        }
    }
</script>