

<%- include ('partials/header.ejs')  -%> 

<section id="watchlistPage">
    <header>
        <h1>Movies Watched</h1>
        <div class="headerContent">
            <h2><%= data.length %>  Movie(s)</h2>
            <div>
                <label for="filter">Filter</label>
                <select name="filter" id="filter">
                    <option value="">Alphabetical</option>
                </select>
            </div>
        </div>
    </header>

    <main id="watchlistContent">
        <% data.forEach(element => { %>
            <a href="/watched/<%= element._id%>" class="watchlistItem">

                <div class="group1">
                    <img src="<%= element.moviePoster%>" alt="">
                    
                    <div>
                        <h3><%= element.movieTitle.substring(0, 20) + '...'%></h3>
                        <p><%= element.movieGenre %></p>
                        <p>
                            <i class="far fa-star"></i> <%= element.movieRating%>
                            <i class="fas fa-star"></i> <%= element.userRating %>
                        </p>
    
                    </div>
                </div>
    
                <div class="group2">
                    <button class="removeWatchlist"> X</button>
                    <p><%= element.userWatchedDate.substring(0,4) %></p>
                </div>
            </a>
        <% }); %> 
        

    </main>
</section>


<%- include ('partials/footer.ejs')  -%> 